<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxd.dao.ForumDao">

	<resultMap type="ForumView" id="forumList">
		<id property="" column=""/>
		<result property="cTotal" column="ctotal"/>
		<association property="fList" javaType="com.yxd.entity.Forum">
			<id property="fid" column="fid"/>
			<result property="ftitle" column="ftitle"/>
			<result property="ftype" column="ftype"/>
			<result property="fcontent" column="fcontent"/>
			<result property="fdate" column="fdate"/>
			<result property="fimage" column="fimage"/>
			<result property="uid" column="uid"/>
		</association>
		<association property="uList" javaType="com.yxd.entity.User">
			<result property="uname" column="uname"/>
			<result property="umotto" column="umotto"/>
			<result property="uportrait" column="uportrait"/>
		</association>
	</resultMap>
	
	<resultMap type="ForumView" id="forumHot">
		<id property="" column=""/>
		<association property="fList" javaType="com.yxd.entity.Forum">
			<id property="fid" column="fid"/>
			<result property="ftitle" column="ftitle"/>
		</association>
		<association property="uList" javaType="com.yxd.entity.User">
			<id property="uid" column="uid"/>
			<result property="uname" column="uname"/>
			<result property="umotto" column="umotto"/>
			<result property="uportrait" column="uportrait"/>
		</association>
	</resultMap>
	
	
	<!-- 编写帖子 -->
	<insert id="edit">
		insert into tb_forum values(null,#{forum.ftitle},#{forum.ftype},#{forum.fcontent},#{forum.fdate},#{forum.fimage},#{uid})
	</insert>
	<!--按查找所有帖子-->	
	<select id="queryAll" resultType="Forum" parameterType="String">
		select * from tb_forum 
		<if test="ftype != null and ftype.trim() != '' ">
			where ftype = #{ftype}
		</if>
		order by fid desc 
	</select>
	<!--按用户查找对应的帖子-->	
	<select id="queryByUid" parameterType="int" resultType="Forum">
		select * from tb_forum where uid = #{uid} order by fid desc 
	</select>
	<!-- 查询类型列表的帖子 -->
	<select id="queryList" resultMap="forumList">
		select f.*,u.uname,u.umotto,u.uportrait,count(c.fid) ctotal from tb_forum f
		inner join tb_user u on f.uid = u.uid
		left join tb_comment c on c.fid = f.fid 
		where f.ftype = #{ftype}
		<if test="serach != null and serach.trim() != '' ">
			<bind name="text_pattern" value="'%'+serach+'%'"/>
			and u.uname like #{text_pattern} 
		</if>
		group by f.fid
		order by fid desc
	</select>
	<!-- 按关键字查询类型列表的帖子 -->
	<select id="queryKey" resultMap="forumList">
		select f.*,u.uname,u.umotto,u.uportrait,count(c.fid) ctotal from tb_forum f
		inner join tb_user u on f.uid = u.uid
		left join tb_comment c on c.fid = f.fid 
		where f.ftype = #{ftype}
		<if test="serach != null and serach.trim() != '' ">
			<bind name="text_pattern" value="'%'+serach+'%'"/>
			and f.ftitle like #{text_pattern} 
		</if>
		group by f.fid
		order by fid desc
	</select>
	<!-- 按FID查询帖子 -->
	<select id="queryById" resultMap="forumList" parameterType="int">
		select f.*,u.uname,u.umotto,u.uportrait,count(c.fid) ctotal from tb_forum f 
		inner join tb_user u on f.fid = #{fid} and f.uid = u.uid
		left join tb_comment c on c.fid = #{fid} group by f.fid
	</select>
	
	<!-- 查询评论最多的帖子 -->
	<select id="queryHot" resultMap="forumHot">
		select f.fid,f.ftitle,u.uid,u.uname,u.umotto,u.uportrait,count(c.fid) ctotal from tb_forum f
		inner join tb_user u on f.uid = u.uid
		left join tb_comment c on c.fid = f.fid 
		where str_to_date(f.fdate,'%Y-%m-%d') 
		between  DATE_SUB(CURDATE(), INTERVAL 1 WEEK) and CURDATE()
		group by f.fid order by ctotal desc 
		
	</select>
	<!-- 按FID查找评论 -->
	<select id="findOne" parameterType="int" resultType="Forum">
		select * from tb_forum where fid = #{fid}
	</select>
	<!-- 按FID查询所有评论的CID -->
	<select id="queryCid" parameterType="int" resultType="Integer">
		select c.cid from tb_forum f
		left join tb_comment c on c.fid = f.fid
		where f.fid = #{fid};

	</select>
	<!-- 根据FID删除回复 -->
	<delete id="delete" parameterType="int">
		delete from tb_forum where fid = #{fid}
	</delete>
</mapper>