<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxd.dao.NotesDao">
	<!-- 查询所有留言 -->
	<select id="queryAll" resultType="Notes">
		select * from tb_notes order by nid desc 
	</select>
	<!-- 查询一周内所有留言 -->
	<select id="queryByWeek" resultType="Notes">
		select * from tb_notes 
		where str_to_date(ndate,'%Y-%m-%d') 
		between  DATE_SUB(CURDATE(), INTERVAL 1 WEEK) and CURDATE()
	</select>
	<!-- 按UID查询个人留言 -->
	<select id="queryByUid" parameterType="int" resultType="Notes">
		select * from tb_notes where uid = #{uid} order by nid desc
	</select>
	<!-- 发表留言-->
	<insert id="insert" parameterType="Notes">
		insert into tb_notes values(null,#{ncontent},#{ndate},#{uid})
	</insert>
	<!-- 按日期查询 -->
	<select id="queryByDate" parameterType="String" resultType="Notes">
		select * from tb_notes
		<if test="ndate != null and ndate.trim() != '' ">
			<bind name="ndate_pattern" value="'%'+ndate+'%'"/>
			where ndate like #{ndate_pattern}
		</if>
		<if test="ndate == null or ndate.trim() == '' ">
			<bind name="ndate_pattern" value="'%'+ndate+'%'"/>
			where str_to_date(ndate,'%Y-%m-%d') 
			between  DATE_SUB(CURDATE(), INTERVAL 1 WEEK) and CURDATE()
		</if>
	</select>
	<!-- 根据UID删除留言 -->
	<delete id="delete" parameterType="int">
		delete from tb_notes where nid = #{nid}
	</delete>
</mapper>