<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxd.dao.ReplyDao">
	<resultMap type="com.yxd.view.ReplyView" id="replyList">
			<id property="" column=""/>
			<association property="reply" javaType="com.yxd.entity.Reply">
				<id property="rid" column="rid"/>
				<result property="rcontent" column="rcontent"/>
				<result property="rdate" column="rdate"/>
			</association>
			<association property="from" javaType="com.yxd.entity.User">
				<id property="uid" column="fuid"/>
				<result property="uname" column="funame"/>
				<result property="uportrait" column="fuportrait"/>
			</association>
			<association property="to" javaType="com.yxd.entity.User">
				<id property="uid" column="tuid"/>
				<result property="uname" column="tuname"/>
			</association>
	</resultMap>
	<resultMap type="com.yxd.view.PReplyView" id="preplyList">
		<id property="" column=""/>
		<result property="uname" column="uname"/>
		<result property="fid" column="fid"/>
		<result property="ftitle" column="ftitle"/>
		<association property="reply" javaType="com.yxd.entity.Reply">
			<id property="rid" column="rid"/>
			<result property="rcontent" column="rcontent"/>
			<result property="rdate" column="rdate"/>
			<result property="rread" column="rread"/>
			<result property="cid" column="cid"/>
		</association>
	</resultMap>
	<!-- 按CID查询评论对应的回复 -->
	<select id="queryReply" parameterType="int" resultMap="replyList">
		select r.rid,r.rcontent,r.rdate,ufrom.uid fuid,ufrom.uname funame,ufrom.uportrait fuportrait,uto.uid tuid,uto.uname tuname from tb_comment c
		left join tb_reply r on r.cid = c.cid
		left join tb_user ufrom on ufrom.uid = r.fromid
		left join tb_user uto on uto.uid = r.toid
		where c.cid = #{cid}
	</select>
	<!-- 根据用户ID查询对应的回复 -->
	<select id="queryByUid" parameterType="int" resultMap="preplyList">
		select r.rid,r.rcontent,r.rdate,r.rread,r.cid,f.ftitle,u.uname,f.fid from tb_reply r 
		left join tb_user u on r.toid = u.uid
		left join tb_comment c on c.cid = r.cid
		left join tb_forum f on f.fid = c.fid
		where r.fromid = #{uid}
		order by r.rid desc
	</select>
	<!--根据用户ID查询个人评论对应的回复  -->
	<select id="queryByPuid" parameterType="int" resultMap="preplyList">
		select r.rid,r.rcontent,r.rdate,r.rread,r.cid,f.fid,f.ftitle,u.uname from tb_reply r
		left join tb_comment c on c.cid = r.cid 
		left join tb_forum f on c.fid = f.fid
		left join tb_user u on r.fromid = u.uid
		where r.toid = #{uid}
		order by r.rid desc
	</select>
	<!-- 根据用户ID查询未读的回复 -->
	<select id="queryRread" parameterType="int" resultType="String">
		select count(r.rread) rtotal from tb_reply r
		where r.toid = #{uid} and r.rread = 'no'
		group by r.rread
	</select>
	<!-- 添加回复 -->
	<insert id="add" parameterType="Reply">
		insert into tb_reply values(null,#{rcontent},#{rdate},#{rread},#{cid},#{fromid},#{toid})
	</insert>
	<!-- 根据RID改变是否未读状态 -->
	<update id="changeRead" parameterType="int">
		update tb_reply set rread = 'yes' where rid = #{rid}
	</update>
</mapper>