<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxd.dao.UserDao">
	<!-- 用户登录 -->
	<select id="login" resultType="User">
		select * from tb_user where uemail = #{uemail} and upwd = #{upwd}
	</select>
	<!-- 查询用户是否存在 -->
	<select id="queryByEmail" parameterType="String" resultType="int">
		select count(*) from tb_user where uemail = #{uemail}
	</select>
	<!-- 查询用户是否存在,存在则返回密码 -->
	<select id="forgetpwd" parameterType="String" resultType="String">
		select upwd from tb_user where uemail = #{uemail}
	</select>
	<!-- 用户注册 -->
	<insert id="register" parameterType="User">
		insert into tb_user values(null,#{uemail},#{uname},#{upwd},#{uportrait},null)
	</insert>
	<!-- 修改原密码-->
	<update id="changeUpwd">
		update tb_user set upwd = #{upwd} where uemail = #{uemail}
	</update>
	<!-- 更新用户信息-->
	<update id="updateBase">
		update tb_user set uname = #{uname},umotto = #{umotto},uportrait = #{uportrait} where uemail = #{uemail}
	</update>
</mapper>