.pager ul.pages {
	display: block;
	border: none;
	text-transform: uppercase;
	font-size: 12px;
	margin-top:7px;
	padding: 0;
	font: normal 13px "Microsoft YaHei";
	font-family: "Microsoft YaHei","微软雅黑","sans-serif";
}
.pager ul.pages li {
	float: left;
	padding: 2px 4px;
	list-style: none;
	background-color: #eee;
	margin-left: 6px;
	color: #888;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pager ul.pages li a {
	color: #888;
}
.pager ul.pages li:hover {
	color: #fff;
	background-color: #3c4852;
}
.pager ul.pages li.pgNext {
}
.pager ul.pages li.pgEmpty {
	/* display: none ;  */
	/* border:1px solid #eee;
	color:#eee; */
}
.pager ul.pages li.pgCurrent {
	color: #fff;
	font-weight: 700;
	background-color: #29c06d;
}
