<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HR_MS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  	
    <!-- Spring配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 拦截管理员未登录的页面 -->
	<filter>
		<filter-name>adminFilter</filter-name>
		<filter-class>com.yxd.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/academic.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/edit.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/footer.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/forum.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/header.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/hnew.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/index.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/left.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/market.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/marketcheck.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/mnew.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/notes.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/notice.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/slideshow.jsp</url-pattern>
	</filter-mapping>
	
	<!-- 拦截用户未登录的页面 -->
	<filter>
		<filter-name>userFilter</filter-name>
		<filter-class>com.yxd.filter.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/person.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personfcheck.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personfdetail.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personfmsg.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personforum.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personfpost.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personfreply.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personleft.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personmarket.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personmcheck.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personmedit.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personnotes.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/personrmsg.jsp</url-pattern>
	</filter-mapping>
	<!-- Spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 添加对springmvc的支持 -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <!--配置 无法找到页面时的跳转页面-->
	<error-page>
		<error-code>404</error-code>
		<location>/index.jsp</location>
	</error-page>	
</web-app>